<div class="body">
  <div class="pessoas">
    <img [src]="pessoa.foto" class="foto">
    <div class="cantada">
      <p>
        {{ pessoa.cantada }}
      </p>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="actionButtons">
    <button mat-button class="color-1" style="display: hidden !important;"> <fa-icon [icon]="icons.new"></fa-icon> </button>
    <button mat-fab class="color-0" style="margin-top: -70px; width: 75px; height: 75px;"> <fa-icon [icon]="icons.messages"></fa-icon> </button>
    <button mat-button class="color-1"> <fa-icon [icon]="icons.menu"></fa-icon> </button>
  </div>
</div>
<mat-drawer-container class="chat">
  <mat-drawer mode="side" opened>
    <button mat-raised-button *ngFor="let match of matches" class="matches"> {{ match.photo }} {{ match.name }} </button>
  </mat-drawer>
  <mat-drawer-content fxLayout="row" fxLayoutAlign="space-around end">
    <div class="messages" id="chat">
      <div class="message me">
        <p>Hey, man! What's up, Mr Stark?👋</p>
      </div>
      <div class="message other">
        <p>Kid, where'd you come from?</p> 
      </div>
      <div class="message me">
        <p>Field trip! 🤣</p>
      </div>
      <div class="message me">
        <p>Uh, what is this guy's problem, Mr. Stark? 🤔</p>
      </div>
      <div class="message other">
        <p>Uh, he's from space, he came here to steal a necklace from a wizard.</p>
      </div>
      <div class="message me" *ngFor="let msg of msgs">
        <p>{{ msg.text }}</p>
      </div>
    </div>
    <div class="send" fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-icon-button><fa-icon [icon]="icons.icon"></fa-icon></button>
      <input type="text" placeholder="Escreva uma menssagem" id="menssagem" #texto>
      <button mat-icon-button (click)="onSend(texto.value); texto.value=''"><fa-icon [icon]="icons.send"></fa-icon></button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>